@import url(https://fonts.googleapis.com/css?family=Cinzel);

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Cinzel', serif;
    background: url(../image/fancy_bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

#wrapper {
    margin: auto;
    max-width: 800px;
    max-height: 400px;
    padding: 20px;
    background: rgba(255,255,255,0.65);
    border: 2px solid #000;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    overflow-x: hidden;
    overflow-y: auto;
}

#content{
    width: 100%;
    clear: both;
    margin-top: 20px;
}

#answer-response {
    text-align: center;
    font-size: 24pt;
}

.description {
    text-align: center;
}

.welcomeHead {
    font-size: 4em;
}

#qForm {
    padding: 20px;
    max-width: 1000px;
    text-align: center;
}

#qForm label {
    max-width: 400px;
    font-size: 18px;
}

input[type="text"] {
    font-size: 35px;
    line-height: 35px;
    padding: 10px;
    height: 50px;
    max-width: 100%;
    border: 2px solid #efa131;
    text-align: center;
    font-family: 'Cinzel', serif;
    background: rgba(255,255,255,0.6);
}

input[type="text"]:focus, input[type="button"]:focus, input[type="radio"]:focus {
    outline: none;
}

input[type="button"] {
    margin: 10px;
    margin-left: 0;
    height: 50px;
    width: 120px;
    background: rgba(55,214,29,0.6);
    border: 2px solid #62ef31;
    font-size: 35px;
    font-family: 'Cinzel', serif;
}

input[type="button"]:hover {
    cursor: pointer;
}

input[type="button"]:active {
    margin-top: 11px;
    margin-left: 11px;
    background: #3ba417;
}

input[type="radio"] {
    height: 40px;
    width: 40px;
}

.radio-label {
    word-wrap: break-word !important;
    height: 50px;
    vertical-align:top;
    margin-top: 10px;
    font-size: 25px !important;
}

table {
    width: 100%;
    font-size: 24px;
    margin: 10px;
    text-align: center;

    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

td {
    background: rgba(255,255,255,0.3);
}

td:first-child::before {
    content: counter(rowNumber);
    float: left;
}

.hs-title, .show-score, .ghs-title{
    text-align: center;
}

.ghs-title::before {
    width: 35px;
    height: 35px;
    background: url(../image/playful_globe.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    content: "----";
    color: rgba(0,0,0,0);
}

.hs-title::before {
    width: 35px;
    height: 35px;
    background: url(../image/playful_hs.png);
    background-size: 35px 35px;
    background-repeat: no-repeat;
    content: "----";
    color: rgba(0,0,0,0);
}

.hs-nickname {
    padding-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.hs-score:after {
    content: "sec";
}

.newGame {
    margin: 0 auto;
    height: 50px;
    padding: 10px;
    padding-top: 20px;
    width: 200px;
    background: rgba(55,214,29,0.6);
    border: 2px solid #62ef31;
    font-size: 35px;
    text-align: center;
}

.newGame a {
    padding-top: 10px;
    color: #000000;
    text-decoration: none;
}

.highlight td{
    background: rgba(120,255,21,0.35);
}

#theme-selector {
    background: transparent;
    width: 240px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    margin: 0 auto;
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(../image/down_arrow_select.jpg) no-repeat right #ddd;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}
