* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Indie Flower', cursive;
    background: #edd8a5;
}

#wrapper {
    width: 100%;
}

#content{
    margin: 0 auto;
    max-width: 500px;
    clear: both;
    margin-top: 20px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 20px;
    background: #f7f2e5;
}

.description {
    text-align: center;
}

.welcomeHead {
    font-size: 4em;
}

#qForm {
    padding: 20px;
    max-width: 500px;
}

#qForm label {
    max-width: 400px;
    font-size: 18px;
}

input[type="text"] {
    font-size: 35px;
    line-height: 35px;
    padding: 10px;
    height: 50px;
    border-radius: 25px;
    max-width: 100%;
    border: 2px solid #efa131;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

input[type="text"]:focus, input[type="button"]:focus, input[type="radio"]:focus {
    outline: none;
}

input[type="button"] {
    border-radius: 15px;
    margin: 10px;
    height: 50px;
    width: 120px;
    background: #37d61d;
    border: 2px solid #62ef31;
    font-size: 35px;
    font-family: 'Indie Flower', cursive;
}

input[type="button"]:active {
    margin-top: 11px;
    margin-left: 11px;
    background: #3ba417;
}

input[type="radio"] {
    height: 40px;
    width: 40px;
}

.radio-label {
    word-wrap: break-word !important;
    height: 50px;
    vertical-align:top;
    margin-top: 10px;
    font-size: 25px !important;
}

table {
    width: 100%;
    font-size: 24px;
    margin: 10px;
    text-align: center;

    counter-reset: rowNumber;
}

table tr {
    counter-increment: rowNumber;
}

td {
    border-radius: 4px;
    background: #e4e3dd;
}

td:first-child::before {
    content: counter(rowNumber);
    float: left;
}

.hs-title, .show-score {
    text-align: center;
}

.hs-nickname {
    padding-top: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.hs-score:after {
    content: "sec";
}

.newGame {
    border-radius: 15px;
    margin: 0 auto;
    height: 50px;
    padding: 10px;
    padding-top: 20px;
    width: 200px;
    background: #ebd11f;
    border: 2px solid #f7dd2e;
    font-size: 35px;
    text-align: center;
}

.newGame a {
    padding-top: 10px;
    color: #000000;
    text-decoration: none;
}

.highlight td{
    background: #f3e68e;
}

#theme-selector {
    background: transparent;
    width: 240px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(../image/down_arrow_select.jpg) no-repeat right #ddd;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}
